@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-size: 1.25rem;
}
.navbar-brand{
    font-size: 45px;
 }
 .album{   
     font-family: 'Sarabun', sans-serif;
     font-size: 25px;
 }
 .buy{
      font-size: 22px;
 }
 .dropdown-menu a {
    font-size: 1.5rem;
}
 


